$(document).ajaxStart(function(){  $('#loading').show();}).ajaxStop(function(){  $('#loading').hide();});
$('#location-tour-city').html("#{escape_javascript(render(:partial => 'show_links_cities', :locals => {:city => @city }))}");        

