#slider1_container
  #wrapper
    - if slides.count > 1
      #zoom-slider  
        - slides.each do |slide|
          = image_tag slide.image(:slide_size), :title => "آژانس_هواپیمایی_رادان_سیر", :alt => "آژانس_هواپیمایی_رادان_سیر", :id => "slide-"+ slide.id.to_s
    - else
      .col-xs-12.one-slide{:style => "padding:0; position: initial;"}
        - slides.each do |slide|
          = image_tag slide.image(:slide_size), :title => "آژانس_هواپیمایی_رادان_سیر", :alt => "آژانس_هواپیمایی_رادان_سیر", :id => "slide-"+ slide.id.to_s

 
