/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 */
.clear-float {clear:both}
a { color:#FFA500;}
a:hover, visited { color:#F43D3D;}
body {padding:0; margin:0;}
.first_page {
  position:fixed; height:100%; width:100%;
  padding:2%; margin:0;
  z-index:0;
  background-image: url(image-path('bg.jpg'));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: 'open_sansregular';
  color:#fff;
}
.first_page:after {
    content: "";
    background: url(image-path('dark_dotted2.png')) repeat;
    opacity:.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   }
.main {}
.main .yield {position:absolute; top:78%; width:100%; height:100%;  
}
.ar, .fa {direction:rtl; font-family: 'open_sansregular';}
.en {direction:ltr}
#logo h1 {color:#E12F2F; font-size:2em; position:absolute; width:50%; top:0; right:10%;
   text-shadow: 2px 2px 1px #1A1A1A;
}
.coming-soon {width:50%; position:absolute; top:45%; right:20%; text-align:center; padding:5%;
  color:#fff; font-size:50px;text-shadow: 2px 2px 1px #1A1A1A;
}

.falgs { width:50%; position:absolute; bottom:20%; right:34%; z-index:100}
.falgs img { float:right; margin:5%}
.falgs img:hover { cursor:pointer; -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;}
.admin-menu {background:#A52A2A;  height:50px; position:absolute; top:0; left:0; width:20%;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
    padding:1%;
    color:#000;
    overflow:hidden;
    font-size:20px;
}
.falg_bar {width:10%; position:absolute; height:50px; top:0; left:0; padding-top: 1%;}
.pin {position:absolute; top:0; right:0; z-index:200; background-image: url(image-path('stick-note-with-pin-md.png'));
  width:16%; height:200px;
  background-repeat:no-repeat;
}
.pin h2 {text-align:left; 
  margin-top:40px;
  margin-left:10px;
}
.falg_bar a{width:30%; position:relative; float:left; top:0;}
.admin-menu:hover {height:250px; }
.upload-pic {border:1px solid #fff}
.nav_bar ul li {display:inline; width:200px;}
.menu_bar {
  background-image:url(image-path('footer_lodyas1.png'));
  position: absolute;
  top: 0;
  width: 100%;
}

/* showing important package  */
.imp-package {width:100%; height:400px; overflow-y:hidden; position:relative; margin-top: 70px; background-image:url(image-path('outlets.png'))}
.imp-package .tour-info {width:20%; float:right; height:90%; margin:2%; border:red solid 1px}


/* tabs-on-slider */
.tabs-on-slider {position:absolute; width:100%; height:100px; top:-50px; z-index:200; color:#000;}
#reserv-form input, label, select{ float:right; margin-right:1%}

.item .col-xs-3 {height:300px; }
a.carousel-control {padding-top:10% }


.country-details {padding:2%}
.country-details .country-text{ text-align:justify; line-height:1.5em;}
.country-details .country-text p{ text-align:justify; line-height:2em;}
