/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.ui.all
 *= require dataTables/jquery.dataTables
 *= require_tree .
 *= require_self
 */
 
.clear-float {clear:both}
.set-center {margin-right:auto; margin-left:auto}
.margin3 {margin:3%}
a { color:#4D4D4D;}
a:hover, visited { color:#1EC0FF; text-decoration:none}
html {padding:0; margin:0;  height:100%}
body {padding:0; margin:0;  height:100%; width:100%}
.first_page {
  position:fixed; height:100%; width:100%;
  padding:2%; margin:0;
  z-index:0;
  background-image: url(image-path('textured_paper.png'));
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  /*
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  */
  font-family: 'open_sansregular';
  color:#fff;
}
.ar, .fa {direction:rtl; font-family: 'open_sansregular';}
.en {direction:ltr}
.main {width:100%; padding:0; margin:0;  top:0;
  background:#ebebeb;
  
  }
.logo {width:100%; position:relative; top:0; height:150px; 
  background-image: url(image-path('banner.png'));
  background-size: 100%;    
  padding-top:2%;
}
.logo .title-site {  
  top:0; 
  font-size:2em; 
  color:#fff; 
  font-weight:bold;
  line-height:1.5em;
  text-align:center;
  
  }
.logo #logo-site  { text-align:center; }
.logo #contact-info  { font-size:2em; font-weight:bold; color:#fff; 
  float:right;
  text-align:center; }
.logo #contact-info  p{ font-size:.6em;padding-top:2%;font-weight:bold; color:#fff;text-align:center}
.logo .flag_bar {
  text-align: left;
  position: absolute;
  top: -24%;
  left: 0;
  right: 0;
  text-align:center;
}
.menu_bar {position:absolute; width:100%; height:45px; background:#14605A;
 -webkit-box-shadow: 0px 10px 31px 0px rgba(62,186,224,1);
-moz-box-shadow: 0px 10px 31px 0px rgba(62,186,224,1);
box-shadow: 0px 10px 31px 0px rgba(62,186,224,1);
   z-index:10;
}
.menu_bar ul{width:50%; list-style:none; height:100%}
.menu_bar ul a {
  width: 20%;
float: right;
color: #fff;
font-size: 1.2em;
height: 97%;
text-align: center;
padding-top: 2%;
}
.menu_bar ul a li{width:100%;}

.menu_bar ul a:hover, .menu_bar ul a.active {
  background:#147971;  text-decoration:none; height:130%;
  opacity:.7;
  border-top: #00DBFF 1px solid;
}

.admin-menu {background:#A2C6C7; position:fixed; z-index:200; height:50px; overflow:hidden;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
    padding:1%; top:15%;
  }
.admin-menu:hover { height:350px}
.admin-menu ul li a{color:#000;}
.admin-menu ul li:hover a{font-size:15px;text-shadow: 1px 1px 1px #1A1A1A; color:#EB9B07; text-decoration:none}
.tabs-on-slider {
  position: absolute;
  top: 515px;
  width: 90%;
  background:#fff;
  margin-left: 5%;
  margin-right: 5%;
  height:100px;
  -webkit-box-shadow: 0px 10px 31px 0px rgba(14,15,15,1);
  -moz-box-shadow: 0px 10px 31px 0px rgba(14,15,15,1);
  box-shadow: 0px 10px 31px 0px rgba(14,15,15,1);
  }
.tab-content .tab-pane {padding-top:1%}
.tab-content .tab-pane label{color:#666; font-weight:normal}
.nav-tabs {padding:0; width:18%}  
.nav-tabs li { width:100%; }  
.nav-tabs li a{background:#E5E5E5; width:100%; text-align:center}  
.nav-tabs li:hover{cursor:pointer}  
.imp-package {width:100%; position:relative; margin-top:4%;
  height:230px; overflow:hidden;
}


.middle-page {
  
  background: #ECE6BA;
  position: relative;
  margin-top: 6%;
  height: 600px;
}

.middle-page .show-links{
  background:#ebebeb; 
  width:90%; 
  margin-right:5%; margin-left:5%;   
  height:70px}
.middle-page .show-links .link-box{text-align:center}

.footer {
  bottom: 0;
  width: 100%;}
.footer .contact-box {    
  background-image: url(image-path('contact-box.jpg'));
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:450px; width:100%;
  overflow:hidden;
}
.footer .contact-box:before {
  width: 100%;
  height: 450px;
  opacity: .7;
  content: "";
  position: absolute;
  background-image: url(image-path('outlets.png'));
  background-repeat: repeat;  
}
.footer legend {color:#fff;}
.footer .Necessary {color:#fff;}
.footer .contact-box .contact-info {margin-top:5%; color:#fff; text-align:justify; font-size:1em; padding:5%; line-height:1em;}
.footer .contact-box .contact-form {margin-top:5%;padding:5%; }
.footer .contact-box .contact-info p{ color:#fff; text-align:justify; font-size:1em; line-height:2em;}
.footer .contact-box .contact-info .fa p{direction:rtl; font-family: 'open_sansregular';}
.footer .show-colleague {
  background:#ebebeb; 
  width:90%;
  margin-right:5%; margin-left:5%;   
  height:70px;
  position:absolute;
  z-index:10;
}
.footer .show-colleague .colleague-box {text-align:center}
.footer .show-social {
  overflow:hidden;
  padding-top:1%;
  background: #52A8A6;
  z-index:20; margin-top:-5%; position:absolute;
  width:90%; 
  margin-right:5%; margin-left:5%;   
  height:70px;  
  }
.footer .show-social .social-icon img{
-webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;}
.footer .show-social .social-icon:hover img{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  cursor:pointer;
  }
.footer .footer-link {  
  width:100%; height:300px; 
  background: #52A8A6;
}

.footer .footer-link .col-xs-4{padding:2%; margin-top: 5%;
border-left: 1px solid #548786;
height: 70%;}
.footer .footer-link h2{width:100%; height:30px; }
.item a.item-package {position:relative; height:195px}
.item a.item-package img { height:200px}
.item .tour-hover{position:absolute; 
  top:0; right:5%; left:5%; width:90%; height:80px;
  color:#fff; font-size:1em; text-align:center;
  background-image: url(image-path('outlets.png'));
  background-repeat: repeat; 
  opacity:.8;
  padding-top:5%;
  }
.footer .copyright  {height:50px; width:100%; position:relative; 
  background-image: url(image-path('outlets.png'));
  background-repeat: repeat; 
  opacity:.8;
  color:#fff; text-align:center; padding:1%
  
}
.tours-boxes {width:80%; height:70%; position:relative; overflow:hidden; text-align: center;}  
.tours-index { position:relative; text-align:center; overflow:hidden; width:20%; float:right; height:205px;
  margin-bottom:5%;
}
.tour-box {
  height:100%; 
  overflow:hidden; 
  position:absolute;  
  width:100%; right:0; left:0;  
  text-align:center;}
.tour-sample-image { height:200px; overflow:hidden}
.tour-box .tour-title {width: 80%;
color:#000;
position: relative;
right: 10%;
left: 10%;
background: #52A8A6;
height: 13%;
padding-top: 3%;
margin: 0;
border-top-right-radius:5px;
border-top-left-radius:5px;}
.tour-box .tour-sample-image img{width:90%; border-radius:5px; height:90%}
.tour-date {position: absolute;  
  width: 90%; 
  left: 5%;
  overflow:hidden;
  right: 5%;
  color:#fff;
  background-image: url(image-path('outlets.png'));
  background-repeat: repeat; 
  opacity:.8;
  height:40px;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
  bottom:-20%;
}
.tours-index:hover .tour-date{ bottom:0}
.admin-btn-tour {position:absolute; bottom:0;}
.tour-details {}
.tour-details .tour-description p, .country-show .country-text p, .country-text p {text-align:justify;}
.comment-box {background-image: url(image-path('halftone.png'));
  background-repeat: repeat; }
.title-tours {text-align:center; padding:1%; margin:1%;}
.contact-top-site {margin-top: 15%;
margin-left: -40%;
margin-right: -40%;}
.country-cities-list ul li{ margin:2%; padding:1%}

.anchorLink {position:fixed; height:30px; width:100px;  z-index:200; bottom:10%; left:1%}
