/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.ui.all
 *= require dataTables/jquery.dataTables
 *= require_tree .
 *= require_self
 */
 
.clear-float {clear:both}
.set-center {margin-right:auto; margin-left:auto}
.margin3 {margin:3%}
.margin-bottom {margin-bottom:10%}
a { color:#4D4D4D;}
a:hover, visited { color:#1EC0FF; text-decoration:none}
html {padding:0; margin:0;  height:100%}
body {padding:0; margin:0;  height:100%; width:100%}
.first_page {
  position:fixed; height:100%; width:100%;
  padding:2%; margin:0;
  z-index:0;
  background-image: url(image-path('textured_paper.png'));
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  /*
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  */
  font-family: 'open_sansregular';
  color:#fff;
}
.ar, .fa {direction:rtl; font-family: 'open_sansregular';}
.ar, .fa p{direction:rtl; font-family: 'open_sansregular';}
.en {direction:ltr}
.main {width:100%; padding:0; margin:0;  top:0;
  background-image: url(image-path('grey_wash_wall.png'));
  background-repeat:repeat;
  
  }
.logo {width:100%; position:relative; top:0; height:150px; 
  background-image: url(image-path('banner.png'));
  background-size: 100%;    
  padding-top:2%;
}
.logo .title-site {  
  top:0; 
  font-size:2em; 
  color:#fff; 
  
  line-height:1.5em;
  text-align:center;
  
  }
.logo #logo-site  { text-align:center; }
.logo #contact-info  { font-size:2em; font-weight:bold; color:#fff; 
  float:right;
  text-align:center; }
.logo #contact-info  p{ font-size:.6em;font-weight:bold; color:#fff;text-align:center}
.logo .flag_bar {
  text-align: left;
  position: absolute;
  top: -24%;
  left: 0;
  right: 0;
  text-align:center;
}
.menu_bar {position:absolute; width:100%; height:45px; 
  background:#0D4A3E;
 -webkit-box-shadow: 0px 10px 31px 0px rgba(62,186,224,1);
-moz-box-shadow: 0px 10px 31px 0px rgba(62,186,224,1);
box-shadow: 0px 10px 31px 0px rgba(62,186,224,1);
   z-index:10;
   top:22%;
}
.menu_bar ul{width:95%; list-style:none; height:100%; font-family:phalls_khodkar;}
.menu_bar ul.fa{ font-family:khodkar;}
.menu_bar ul.en{ font-family:Arial;}
.menu_bar ul.ar{ font-family:arabswell;}
.menu_bar ul.fa li { font-family:khodkar;}
.menu_bar ul.en li { font-family:Arial;}
.menu_bar ul.ar li { font-family:arabswell;}
.menu_bar ul li {
  width: 10%;
float: right;
color: #fff;
font-size: 1.2em;
height:100%;
text-align: center;
padding-top: 1%;
position:relative;

}
.menu_bar ul li a{color:#fff}

.menu_bar ul li:hover, .menu_bar ul li.active {
  background-image: url(image-path('menu-opacity.png'));
  background-repeat: repeat ;
  text-decoration:none; ;  
  border-top: #00DBFF 1px solid;
  border-bottom: #00DBFF 1px solid;
}

.admin-menu {background:#A2C6C7; position:fixed; z-index:200; height:50px; overflow:hidden;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
    padding:1%; top:15%;
    width:20%;
  }
.admin-menu:hover { height:390px; cursor:pointer}
.admin-menu ul li a{color:#000;}
.admin-menu ul li:hover a{font-size:15px;text-shadow: 1px 1px 1px #1A1A1A; color:#EB9B07; text-decoration:none}
.tabs-on-slider {
  position: absolute;
  z-index:8;
  top: 515px;
  width: 100%;  right:0; left:0;  
  height:115px;
  
  }

.tab-content {padding-top:1%;
  -webkit-box-shadow: 0px 10px 31px 0px rgba(14,15,15,1);
  -moz-box-shadow: 0px 10px 31px 0px rgba(14,15,15,1);
  box-shadow: 0px 10px 31px 0px rgba(14,15,15,1);
  height:65%;
  background-color:#fff;
  margin-bottom:15px
}
/*
.tab-content .tab-pane label{color:#666; font-weight:normal}
.nav-tabs {padding:0; width:18%}  
.nav-tabs li { width:100%; }  
.nav-tabs li a{background:#E5E5E5; width:100%; text-align:center; font-size:95%;}  
.nav-tabs li:hover , .nav-tabs li.active{cursor:pointer; font-size:95%;}  
*/
.imp-package {width:100%; position:relative; margin-top:4%;
  padding-top:1%;
  height:230px; overflow:hidden;
  background-color:#1A1A1A;
}


.middle-page {
  
  background: #ECE6BA;
  position: relative;
  margin-top: 6%;
  height: 600px;
}

.middle-page .show-links{
  background:#ebebeb; 
  width:90%; 
  margin-right:5%; margin-left:5%;   
  height:70px}
.middle-page .show-links .link-box{text-align:center}

.footer {
  bottom: 0;
  width: 100%;}
.footer .contact-box {    
  background-image: url(image-path('grey.png'));
  /*
  background-attachment: fixed !important;
  background-position: center center;
  background-size: cover;
  */
  background-repeat: repeat;
  
  height:450px; width:100%;
  overflow:hidden;
}
/*
.footer .contact-box:before {
  width: 100%;
  height: 450px;
  opacity: .7;
  content: "";
  position: absolute;
  background-image: url(image-path('outlets.png'));
  background-repeat: repeat;  
}
*/
.footer legend {color:#1A1A1A;}
.footer .Necessary {color:#4D4D4D;}
.footer .contact-box .contact-info { color:#fff; text-align:justify; font-size:1em; padding:5%; line-height:1em;}
.footer .contact-box .contact-form {padding:5%; }
.footer .contact-box .contact-info p{ color:#fff; text-align:justify; font-size:1em; line-height:2em;}
.footer .contact-box .contact-info .fa p{direction:rtl; font-family: 'open_sansregular';}
.footer .show-colleague {  
  width:90%;  
  height:70px;
  margin-top:3%;
  
}
.footer .show-colleague .colleague-box {text-align:center; color:#000}
.footer .show-colleague .colleague-box:hover {color:#1E90FF}
.footer .show-colleague .colleague-box img{border-radius:50%;}

.show-social {
  overflow:hidden;
  padding-top:1%;
  background-image: url(image-path('outlets.png'));
  background-repeat: repeat ;
  opacity:.7;
  position:fixed;
  z-index:50;
  right:0;
  width:4%; 
  top:32%;
  height:130px;  
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s; 
  border-top-left-radius:9px;
  border-bottom-left-radius:9px;
}
.show-social:hover {width:10%;}
.show-social:hover h4{cursor:pointer}
.show-social h4 { 
  margin-left: -35px;
  width: 130px;
  margin-top: 10px;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);}  
.show-social .social-icon {width:120px; height:30px}
.show-social .social-icon .col-xs-5{padding:0;}
.show-social .social-icon img{
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;}
.show-social .social-icon span { margin-left:2%}
.show-social .social-icon:hover img{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  cursor:pointer;
  }
.footer .footer-link {  
  width:100%; height:400px; 
  background: #1A1A1A;
  
}
/*
.footer .footer-link:before {position:absolute; width:100%; height:400px; 
  content: "";
  opacity:.5;
  position: absolute;
  background-image: url(image-path('dark-ft-bg.jpg'));
  background-repeat: repeat;  
}
*/
.footer .footer-link .col-xs-4{padding:2%; margin-top: 5%;
border-left: 1px solid #4D4D4D;
height: 50%;}
.footer .footer-link h2{width:100%; height:30px; }
.item a.item-package {position:relative; height:195px}
.item a.item-package img { height:200px}
.item .tour-hover{position:absolute; 
  top:0; right:4%; left:4%; width:92%; height:80px;
  color:#fff; font-size:1em; text-align:center;
  background-image: url(image-path('outlets.png'));
  background-repeat: repeat; 
  opacity:.8;
  padding-top:5%;
  }
.footer .copyright  {height:50px; width:100%; position:relative; padding-top:1%;
  background-image: url(image-path('outlets.png'));
  background-repeat: repeat; 
  opacity:.8;
  color:#fff; text-align:center; 
  
}
.footer .footer-menu ul{ list-style:none; width:100% }
.footer .footer-menu ul li{ list-style:none; width:18%; margin:1%; padding:1%; float:right; text-align:center; border-left:1px solid #4D4D4D}
.tours-boxes {width:80%; height:70%; position:relative; overflow:hidden; text-align: center;}  
.tours-index { 
  margin-left:2%;  
  position:relative; text-align:center; overflow:hidden; width:18%; float:right; height:300px;  
  margin-bottom:5%; 
  -webkit-box-shadow: 0px 14px 21px 5px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 14px 21px 5px rgba(0,0,0,0.63);
  box-shadow: 0px 14px 21px 5px rgba(0,0,0,0.63);  
  background:#fff;
}
.tour-box {
  
  height:100%; 
  overflow:hidden; 
  position:absolute;  
  width:100%; right:0; left:0;  
  text-align:center;}
.tour-sample-image { height:200px; overflow:hidden}
.tour-box .tour-title {width: 100%;
  color:#000;
  font-size:13px;
  position: relative;
  right: 0;
  left: 0;
  height: 15%;
  padding-top: 7%;
  margin: 0;
  border-bottom: 2px solid #00DBFF;
}
.tour-box .tour-sample-image img{width:100%;  height:90%; margin-top:-2px;}
.tour-date {position: absolute;  
  width: 100%; 
  left:0;
  overflow:hidden;
  right:0;
  color:#14605A;  
  height:25%;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
  bottom:0;
  padding-top: 10%;
  background-image: url(image-path('logo-bg.png'));
  background-repeat: no-repeat;  
  background-position: 2% 90%; 
}
.admin-btn-tour {position:absolute; bottom:0;}
.tour-details {}
.tour-details .tour-description p.fa, .country-show .country-text p, .country-text p {text-align:justify;direction:rtl; font-family: 'open_sansregular'; }
.country-show h2.country-title {margin:4%}
.comment-box {background-image: url(image-path('halftone.png'));
  background-repeat: repeat; }
.title-tours {text-align:center; padding:1%; margin:1%;}
.contact-top-site {margin-top: 10%;
margin-left: -40%;
margin-right: -40%;}
.country-cities-list {margin:6%}
.country-cities-list ul li{ margin:2%; padding:1%}

.anchorLink {position:fixed; height:30px; width:100px;  z-index:200; bottom:10%; left:1%}
.upload-pic {overflow:hidden}
#CountryTab {margin-bottom:5%}
.show-google-map {
  background-image: url(image-path('googlemap.png'));
  background-repeat: no-repeat;
}

/*  Multi slider */
.carousel-control {padding-top:4%;}
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }	
}
.tour-moment {
  position:absolute;
  text-align:center;  
  padding-top:2.5%;
  top:-15%;
  left:35%;
  right:35%;
  z-index:100;
  height:150px; width:30%;
  background-image: url(image-path('ribbon-moment.png'));
  background-repeat: no-repeat;}
.tour-moment a {font-size:1.5em; color:#14605A;}
.tour-comments {position: relative;
  height: 250px;}

.show_comments {position: absolute;
  padding-top: 5%;}
table tr th{text-align:right}

table tr.unvisite {font-weight:bold}
span.unread {padding:2%;  border-radius:50%; background:#0D4A3E; color:#fff}

tr.fa td, tr.ar td{direction:rtl; font-family: 'open_sansregular';}
#list_hotels {border: solid #7F7F7F 1px}
.continent-cat {text-align:center; padding:1%;border-bottom:2px solid #25394C; color:#25394C; font-size:18px; 
  margin:2%;-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s; width:100%;
  
  text-align:center;
  
  }
.continent-cat:hover, .continent-cat.active {cursor:pointer; border-bottom:2px solid #7F7F7F; color:#FFA500;
}
/*
#Container .mix{
  display: none;
}
*/
.nav-tabs > li.en {float:left}
.nav-tabs > li.ar, .nav-tabs > li.fa {float:right}
.city-cat {text-align:center; padding:1%; background:#4D4D4D; color:#fff; font-size:16px; 
  margin:1%;-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  opacity:.8;
  transition: all 1s; width:100px; float:left}
.city-cat:hover, .city-cat.active  {opacity:1;cursor:pointer; color:#FFA500;}
.show-tours {margin-top:5%;}
.city-titels {
  position: absolute;
  min-height: 100px;
  width: 96%;
  display:none;
  text-align: center;
  background: #1a1a1a;
  opacity:.8;
  right: 3%;
  left: 3%;
  z-index:100;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
  }

#reserv {margin-right:10%; margin-left:10%;}

.one-slide img{width:100%}
.hotels-table .firts-row .th {font-weight:bold; text-align:center; 
  border:1px solid #4D4D4D; height:100%; font-size:10px;}
.hotels-table h3,h2{background:#FFA500; text-align:center; width:100%}
.hotels-table .firts-row {background:#BFBFBF; height:80px; position:relative}
.hotels-table .other-rows {border-bottom:1px solid #BFBFBF; position:relative}
.hotels-table .other-rows .even{border-bottom:1px solid #BFBFBF; position:relative; background:#E6E6FA;}
.hotels-table .other-rows .td{}
.hotels-table .tour-description {width:100%}
.hotels-table .tour-description .title_row {background:#FFA500; text-align:center;}
.hotels-table .tour-description .tr {position:relative; height:30px}
.hotels-table .tour-description .tr .td{border-bottom:1px solid #BFBFBF; padding:1%; height:100%}
.hotels-table .tour-description .tr .th{background:#BFBFBF; padding:1%; height:100%; border-bottom:1px solid #E5E5E5;}

ul.sub-menu {width:100%; margin:0; padding:0; background:#4D4D4D; position: absolute;
  top: 45px;
  height: auto;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
  height:0px;
  overflow:hidden
}
ul.sub-menu li{width:100%; margin:0; padding:5%; }
ul.sub-menu li.en{text-align:left}
ul.sub-menu li.fa, ul.sub-menu li.ar {text-align:right}
ul#main-menu li.item-menu:hover ul.sub-menu {height:auto}
