
@font-face {
    font-family: 'open_sansregular';
    
    src: asset_url('BYekan.eot');
    src: asset_url('BYekan.eot?#iefix') format('embedded-opentype'),
         asset_url('BYekan.woff') format('woff'),
         asset_url('BYekan.ttf') format('truetype'),
         asset_url('BYekan.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'leaguegothic-condensed-regular-webfont';
  src: url(font_path('leaguegothic-regular-webfont.eot'));
  src: url(font_path('leaguegothic-regular-webfont.eot?#iefix')) format('embedded-opentype'),
       url(font_path('leaguegothic-regular-webfont.woff')) format('woff'),
       url(font_path('leaguegothic-regular-webfont.ttf')) format('truetype'),
       url(font_path('leaguegothic-regular-webfont.svg#MTCORSVA')) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'arabswell';
  src: url(font_path('arabswell.eot'));
  src: url(font_path('arabswell.eot?#iefix')) format('embedded-opentype'),
       url(font_path('arabswell.woff')) format('woff'),
       url(font_path('arabswell.ttf')) format('truetype'),
       url(font_path('arabswell.svg#arabswell')) format('svg');
  font-weight: normal;
  font-style: normal;
}

.margin3 {margin:3%}
.clear-float {clear:both}
.fa {direction:rtl; font-family: 'open_sansregular';}
.ar {direction:rtl; font-family: 'arabswell';}
.en {direction:ltr; font-family: 'leaguegothic-condensed-regular-webfont';}
.width100 {width:100%; padding:2%; }
.width50 {width:50%; padding:2%; float:right}
.hotels-table h4 {background:#A52A2A; color:#fff}
table tr td {font-size:10px;}
table tr.first-sow {background:#BFBFBF; text-align:center}
table tr.first-sow td{ text-align:center}
table tr.tour-hotels-row.even {background:#FDFDC0;}
table tr.tour-hotels-row td{text-align:center}
table tr.tour-hotels-row p.show-hotel-star span{font-size:9px}
table.other-info tr td.first-col {background:#BFBFBF; width:150px;}
.tour-more-info {width:100%;     
  direction:rtl;  
  text-align:right;
  }
.tour-more-info p {font-size:12px; text-align:right; }

