.margin3 {margin:3%}
.clear-float {clear:both}
.fa {direction:rtl; font-family: tohama;}
.width100 {width:100%; padding:2%; }
.width50 {width:50%; padding:2%; float:right}
.hotels-table h4 {background:#A52A2A; color:#fff}
table tr td {font-size:10px;}
table tr.first-sow {background:#BFBFBF; text-align:center}
table tr.first-sow td{ text-align:center}
table tr.tour-hotels-row.even {background:#FDFDC0;}
table tr.tour-hotels-row td{text-align:center}
table tr.tour-hotels-row p.show-hotel-star span{font-size:9px}
table.other-info tr td.first-col {background:#BFBFBF; width:150px;}
.tour-more-info {width:100%;     
  direction:rtl;  
  text-align:right;
  }
.tour-more-info p {font-size:12px; text-align:right; }

