# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3fa9cb7086c935ec7b620f65d1135d98be04d3ba4d291ef44ae8953d970b5b4d63a9c67ac4693b5f8d275c7c4b3a066fea8a9692fc624ce368ac9f5bec234b3e

test:
  secret_key_base: c5641a4b69d0b2475bb8512eb4d772513f5d0585a0a5fc4129f185e0f6686a5ac555683c526c610aaf7e473077a57cd7bd24ad10042878cbf3bb3f6c429bd6ef

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 292bc8534a41695d7b93cafcaac4d47ac155c880e9cb7f40c9765261a164bbb6875ef16dbb237d5a352331ed57ccdf3631f73ab620cdef2402d41240f802a266
