.col-xs-5.contact-info.pull-right
  - if @contact.present?
    %div{:class => I18n.locale, :style => "height:100px", :title => "آژانس هواپیمایی رادان سیر"}
      =raw @contact.text              
    .show-google-map      
      %iframe{:height => "250", :src => "https://www.google.com/maps/d/embed?mid=zbDi3iZxywyM.kA0lxpbB5pNk&z=15", :width => "407"}
.col-xs-6.contact-form.pull-right{:class => I18n.locale}
  = render 'shared/msg_form' 
