.customer-clube.clear-float{:style => "padding:2%"}
  = form_tag search_customers_path, :method => "post", id: "search-tour" do 
    
    .col-xs-12.form-group
      = text_field_tag :name, params[:name] , :placeholder => t('customer_name'), :class => "form-msg form-control", :id => "customer-name", :title => "آژانس_هواپیمایی_رادان_سیر"
    .col-xs-12{:style => "text-align:center", :class => I18n.locale}
      = submit_tag t('search_customer'), :name => "customer-submit", :id => "customer-submit" , :class => "btn btn-danger I18n.locale", :title => "آژانس_هواپیمایی_رادان_سیر"
:javascript 
  $(function() { 
    $(':submit#customer-submit').click(function(e) {
      $(':text#customer-name, textarea#customer-name').each(function() {
        if ($(this).val().length == 0) {
          $(this).css('border', '2px solid red');
          e.preventDefault();
        }
      });
    });
  });
