%li.active{:role => "presentation"}
  = link_to t('reserv'), '#reserv' , {:role => "tab", "data-toggle" => "tab"}
%li{:role => "presentation"}
  = link_to t('search-tour'), '#search', {:role => "tab", "data-toggle" => "tab"}
    
