%li.active{:role => "presentation"}
  = link_to t('reserv'), '#reserv', :title => "آژانس_هواپیمایی_رادان_سیر" , {:role => "tab", "data-toggle" => "tab"}
%li{:role => "presentation"}
  = link_to t('search-tour'), '#search', :title => "آژانس_هواپیمایی_رادان_سیر", {:role => "tab", "data-toggle" => "tab"}
    
