.margin3.margin-bottom
  
  .col-xs-12.margin-bottom
    .title-tour-line.col-xs-10
    %p.col-xs-3.set-center.title-tour{:class => I18n.locale}= t('investment-in-iran')
  %h1{:class => I18n.locale} ویرایش سرمایه گذاری در ایران
  = link_to 'مشاهده', @investment_in_iran, :class => "btn btn-warning"     
  .col-xs-12
    = render 'form'

