.margin3
  %h1.title-tours{:class => I18n.locale}=  @sight.title  
  - if is_admin?
    = link_to 'ویرایش', edit_sight_path(@sight), :class => "btn btn-info" 
  .tour-details
    .col-xs-12        
      .col-xs-7
        = render 'shared/slider_tumbnail', :model => @sight
  
      .col-xs-5=raw @sight.text
      
  
  
 
